<html>
	<head>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="two-column">
			<div class="column">
				<span class="number">back</span>
				<img src="../images/flower.png">
			</div>
			<div class="column">
				<span class="number">front</span>
				<img src="../images/moonbeams.png" alt="">
				<p style="margin-left:45px;">moonbeams zine<br/>vol 1 issue 1 october 2014</p>
			</div>
		</div>		
		<div class="two-column">
			<div class="column odd">
				<span class="number">14</span>
				<img src="../images/moonnn.gif">
				
			</div>
			<div class="column odd">
				<span class="number">1</span>
				<img src="../images/leaves.png" alt="">
			</div>
		</div>		
		<div class="two-column">
			<div class="column">
				<span class="number">13</span>
				<img src="../images/miscplant.jpg" alt="">
			</div>
			<div class="column">
				<span class="number">2</span>
				<img src="../images/moooooooooooooon.gif">
							
			</div>
		</div>
		<div class="two-column">
			<div class="column odd">
				<span class="number">12</span>
				<img src="../images/moooon.jpeg">
			</div>
			<div class="column odd">
				<span class="number">3</span>
				<img src="../images/river.jpg" alt="">
			</div>
		</div>		
		<div class="two-column">
			<div class="column">
				<span class="number">11</span>
				<img src="../images/moonmoon.gif">
			</div>
			<div class="column">
				<span class="number">4</span>
				<p class="alone">you can let the river flow past<br/>without putting your hand in it</p>

			</div>
		</div>
		<div class="two-column">
			<div class="column odd">
				<span class="number">10</span>
				<img src="../images/fiddles.png">
			</div>
			<div class="column odd">
				<span class="number">5</span>
				<img src="../images/messier26.jpg" alt="">
			</div>
		</div>
		<div class="two-column">
			<div class="column">
				<span class="number">9</span>
				<img src="../images/moooooooon.gif">	
			</div>
			<div class="column">
				<span class="number">6</span>
				<p class="alone">Messier Object 26 is an open cluster in the constellation Scutum. It spans about 22 light years across and is at a distance of 5,000 light years from the Earth. The brightest star is of magnitude 11.9 and the age of this cluster has been calculated to be 89 million years.</p>
			</div>
		</div>
		<div class="two-column">
			<div class="column odd">
				<span class="number">8</span>
				<img src="../images/flower.png">
			</div>
			<div class="column odd">
				<span class="number">7</span>
				<img src="../images/loveis.jpg" alt="">
			</div>
		</div>				
	</body>
</html>