<html>
	<head>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="two-column">
			<div class="column">
				<img src="../images/flower.png">
			</div>
			<div class="column">
				<img src="../images/moonbeams.png" alt="">
			</div>
		</div>		
		<div class="two-column">
			<div class="column odd">
				<img src="../images/fiddles.png">
			</div>
			<div class="column odd">
				<img src="../images/loveis.jpg" alt="">
			</div>
		</div>		
		<div class="two-column">
			<div class="column">
				<img src="../images/moonmoon.gif">
			</div>
			<div class="column">
				<img src="../images/moonnn.gif" alt="">
			</div>
		</div>
		<div class="two-column">
			<div class="column odd">
				<img src="../images/moooon.jpeg">
			</div>
			<div class="column odd">
				<img src="../images/moooooooon.gif" alt="">
			</div>
		</div>		
	</body>
</html>